.loginsignup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #a8cee8;
}

.loginsignup-container {
    width: 580px;
    background: white;
    padding: 40px 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.loginsignup-container h1 {
    margin: 20px 0px;
    font-size: 32px;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}

.loginsignup-fields input {
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-container button {
    width: 100%;
    height: 72px;
    color: white;
    background: #5f99d2;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-container button:hover {
    background: #4a7fba;
}

.loginsignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.loginsignup-login .signup-link {
    color: #5f99d2;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.loginsignup-login .signup-link:hover {
    text-decoration: underline;
}